.footer {
  font-size: 1rem;
  text-align: center;
  display: flexbox;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;

  &__copyright {
    padding-bottom: 15px;
  }

  &__social {
    font-size: 3rem;
  }

  &--light-blue {
    background-color: $lightBlue;
    color: white;
  }

  &--white {
    background-color: white;
    color: $darkBlue;
  }
}
