.hello-block {
  text-align: center;
  /*height: 500px;*/
  position: relative;
  padding-top: 100px;
  top: 50%;
  transform: translateY(-70%);

  &__title {
    color: $lightBlue;
    font-family: 'Anton', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 4px;

    @mixin atMedium {
      font-size: 4rem;
    }
  }

  &__subtitle {
    color: $darkBlue;
    font-size: 1.5rem;
    font-weight: 500;

    @mixin atMedium {
      font-size: 2rem;
    }
  }
}
