.hello-block {
  text-align: center;
  /*height: 500px;*/
  position: relative;
  top: 50%;
  transform: translateY(-70%);

  &__title {
    color: $lightBlue;
    font-family: 'Anton', sans-serif;
    font-size: 4rem;
    letter-spacing: 4px;
  }

  &__subtitle {
    color: $darkBlue;
    font-size: 2rem;
    font-weight: 500;
  }
}
