.row {
  text-align: center;

  @mixin atMedium {
    &__md-4 {
      float: left;
      width: 33.33%;
    }
  }

  &__md-6 {
    float: left;
    width: 50%;
  }

  &--p-bottom {
    padding-bottom: 50px;
  }
}
