.wrapper {
  padding: 0 30px;
  margin-left: auto;
  margin-right: auto;

  &--height-md {
    height: 600px;
  }

  &--sm {
    max-width: 700px;
  }

  @mixin atMedium {
    max-width: 1000px;
  }
}
